.feedback {
  background-image: url('../images/content/Budda.jpg');
  background-size: cover;
  width: 100%;
  padding-left: 160px;
  padding-bottom: 134px;

  @include desktopHd {
    padding-left: 9vw;
  }

  @include tablets {
    padding-left: 2vw;
  }
}
