.feedback-form {
    display: flex;
}

.feedback-form__title {
    color: text-color;
    line-height: 48px;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 92px;
}

.feedback-form__row {
    display: flex;
}

label {
  font-size: 16px;
  font-weight: 600;
  color: rgba(70, 77, 98, 0.3);
  line-height: 30px;
}


.feedback-form__control {
    position: relative;
}