.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 62px;

  &:last-child {
    margin-right: 0;
  }

  @include desktop {
    margin-right: 3vw;
  }
}

.nav__link {
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: nowrap;

  &:hover {
    font-weight: 600;
    color: $accent-color;
  }

  @include desktop {
    font-size: 14px;
  }
}
