.triangles {
    display: flex;
    margin-top: -100px;
    color: white;

    &__reverse {
        margin-top: 0px;
        margin-bottom: -100px;
    }
}

.triangles__item {
    width: 50%;
    display: block;
    height: 100px;
    fill: currentColor;
}