.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__avatar {
    margin-bottom: 20px;
}

.user__desk-item {
    justify-content: space-between;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info__desk {
    font-size: 18px;
    font-weight: 600;
    color: rgba(70, 77, 98, 0.4);
}

.user-info__username {
    font-size: 72px;
    font-weight: 800;
    color: #464e62;;
}