.works {
    padding: 100px 160px 205px 160px;
    width: 100%;
    background-color: white;
}

.works__title {
    color: $text-color;
    line-height: 48px;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 92px;
}