.feedback-form 
  .form
    .feedback-form__title Связаться со мной
    form.form__elem
      .form__row
        -
          var fields = [
            ["user", "Введите ваше имя", "Ковальчук Дмитрий"],
            ["envelope", "Введите ваш email", "loftschool@study.com"],
          ]
        each item in fields
          label.form-block(data-title=item[1])
            .form-block__container
              input(type="text" placeholder=item[2]).form-block__input
              +icon(`${item[0]}`, "form-block__icon")
      .form__row.form__row--extra-margin
        label.form-block(data-title="Сообщение к письму")
          .form-block__container.form-block__container_align_top
            textarea(
                placeholder="Требуется ваша помощь в создании сайта.\n Интересуют сроки и цена вопроса"
              ).form-block__textarea
            +icon("message", "form-block__icon")
      .form__row
        input(type="submit" value="отправить").gradient-btn.form__submit
  
    