section.hero#main
  .container.hero__container
    header.header.hero__header
      .hero__logo
        .logo МШ
      .hero__menu
        include nav
      .hero__links
        +socials()
      button.hero__hamburger
    .hero__content
      .user-info
        h1.user-info__desk Личный сайт #[br] веб-разработчика
        .user-info__username Михаил #[br] Шаров
    a.hero__btns(href="#about")
      .scroll-down__name Скролл
      .scroll-down-btns 
        +icon("scroll", "scroll-down-btns")