.info-content 
  .info-content__title Сайт школы образования
  .info-content__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
  .info-content__link