.info-content
  .info-skill
    .info-skill__item
      a.info-skill__link(href="#") HTML
    .info-skill__item
      a.info-skill__link(href="#") CSS
    .info-skill__item
      a.info-skill__link(href="#") JavaScript
  .info-content__title Сайт школы образования
  .info-content__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
  .info-content__link
    .info-content__link-item
      +icon("link", "info-content__link-icon" )
    .info-content__link-text Посмотреть сайт