.reviews
  .reviews__header 
    .reviews__title Что обо мне говорят
    .reviews__buttons
      button.reviews__button
        +icon("arrow-down", "reviews__button-icon reviews__button-icon_prev")
      button.reviews__button
        +icon("arrow-down", "reviews__button-icon reviews__button-icon_next")
  .reviews__body
    .reviews__item