.reviews
  .reviews__header 
    .reviews__title Что обо мне говорят
    .reviews__buttons
      button.reviews__button
        +icon("arrow-down", "reviews__button-icon reviews__button-icon_prev")
      button.reviews__button
        +icon("arrow-down", "reviews__button-icon reviews__button-icon_next")
  .reviews__body
    .reviews-opinion
      .reviews-opinion__quotes
        .quotes__item
          +icon("quote", "quote__icon")
        .quotes__text
          p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
      .quotes__reviewer
        .reviwer__image
          +image("content/kovalchuk.png")
        .reviwer__info
          .reviwer__name Дмитрий Ковальчук
          .reviwer__position Основатель LoftSchool
    .reviews-opinion
      .reviews-opinion__quotes
        .quotes__item
          +icon("quote", "quote__icon")
        .quotes__text
          p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
      .quotes__reviewer
        .reviwer__image 
          +image("content/sabantsev.png")
        .reviwer__info
          .reviwer__name Владимир Сабанцев
          .reviwer__position Преподаватель 