.reviews#reviews-slider
  .reviews__header 
    .reviews__title Что обо мне говорят
    .reviews__buttons
      button.reviews__button(
        :disabled="currentIndex === 0"
        @click="previous"
      )
        +icon("arrow-down", "reviews__button-icon reviews__button-icon_prev")
      button.reviews__button(
        :disabled="currentIndex === slidesLength - 1"
        @click="next"
      )
        +icon("arrow-down", "reviews__button-icon reviews__button-icon_next")
  .reviews__body
    flickity(ref="flickity" :options="flickityOptions")
      .reviews-opinion.carousel-cell(v-for="review in reviews")
        .reviews-opinion__quotes
          .quotes__item
            +icon("quote", "quote__icon")
          .quotes__text
            p {{ review.text }}
        .quotes__reviewer
          img.reviwer__image(:src="review.photo")
          .reviwer__info
            .reviwer__name {{ review.author }}
            .reviwer__position {{ review.position }}
      