.slider-display
  .slider-display__current-slide
    +image("content/1.png", "slider-display__current-image")
  .slider-display__thumbs
    include slider-thumbs
  .slider-display__buttons
    include slider-buttons