.slider-buttons
  button.slider-buttons__button
    +icon("arrow-down", "slider-buttons__icon slider-buttons__icon_prev")
  button.slider-buttons__button
    +icon("arrow-down", "slider-buttons__icon slider-buttons__icon_next")